.wrapper {
  display: flex;
  flex-direction: column;
}

.grid_wrapper {
  display: grid;
  grid-template-columns: 840px 340px;
  justify-content: space-between;
  grid-row-gap: 20px;
}

.cover_img {
  grid-row: 1/3;
  height: 470px;
  border-radius: 12px;
}

.item2 {
  height: 170px;
  background-color: pink;
}

.review_wrap {
  border: 1px solid var(--grey300);
  border-radius: 4px;
  padding: 16px 24px;
}
.review_wrap > h1 {
  font-size: 20px;
  color: var(--black100);
}
.review_wrap > h1:nth-of-type(2) {
  margin-top: 16px;
}

.review_list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}
.review_list > div {
  border-radius: 4px;
  width: 100%;
  background-color: var(--grey100);
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
.review_list > div > img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.review_list > div > p {
  color: var(--grey800);
  font-size: 14px;
  margin-left: 12px;
}

.company_info {
}
